/* 字體 */
/* 分支修改測試 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200&family=Roboto:ital,wght@1,300&display=swap");

/* "米字號"被用來選取HTML文檔中的所有元素 */
* {
    font-family: "Noto Sans TC", sans-serif;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    /*當使用超連結時，頁面會平滑滾動到目標位置。 */
}

/* 主題顏色宣告 */
:root {
    --black: #000000;
    --deepBlue: #14213d;
    --blue: #416ac2;
    --orange: #fca311;
    --lightGray: #e5e5e5;
    --white: #ffffff;
    --brown: #ad7d52;
    --heart: #b44163;
    --lightBlue-bg: rgba(45, 68, 119, 0.486);
}

/* 頁面背景色 */
body {
    background-color: var(--deepBlue);
    color: var(--white);
}

/* 導覽列 */
.header {
    background-color: var(--lightBlue-bg);
}

.navbar {
    margin-left: 10%;
    margin-right: 10%;
    color: var(--white);
    font-size: 1.75rem;
    font-weight: bolder;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-item {
    text-decoration: none;
    color: var(--white);
    margin-right: 1rem;
}

    .navbar-item:hover {
        color: var(--orange);
    }

/* 懸浮方框 */
.dropdown-content {
    margin-top: 1rem;
    display: none;
    position: absolute;
    padding: 10px;
    z-index: 999;
    padding: 1rem;
}

    .dropdown-content .row {
        gap: 1rem;
    }

/* 圖片位址 */
.dropdown-img-1::before {
    background: url("https://picsum.photos/240/80?random=1");
}

.dropdown-img-2::before {
    background-image: url("https://picsum.photos/240/80?random=2");
}

.dropdown-img-3::before {
    background-image: url("https://picsum.photos/240/80?random=3");
}

.dropdown-img-4::before {
    background-image: url("https://picsum.photos/240/80?random=4");
}

.dropdown-img-1,
.dropdown-img-2,
.dropdown-img-3,
.dropdown-img-4 {
    position: relative;
    overflow: hidden;
    transition: opacity 0.3s;
}

    .dropdown-img-1::before,
    .dropdown-img-2::before,
    .dropdown-img-3::before,
    .dropdown-img-4::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: -1;
        transition: all 0.3s;
    }

    .dropdown-img-1:hover::before,
    .dropdown-img-2:hover::before,
    .dropdown-img-3:hover::before,
    .dropdown-img-4:hover::before {
        opacity: 0.5;
        transform: scale(1.25);
    }

.dropdown-content .col {
    height: 60px;
    width: 240px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    transition: border 0.3s ease;
}

    .dropdown-content .col:hover {
        border: var(--lightGray) solid 2.5px;
        box-shadow: 5px 5px 15px 0 rgba(129, 128, 128, 0.66);
    }

.dropdown-content a {
    text-decoration: none;
    color: var(--white);
    font: 700;
}

    .dropdown-content a:hover {
        transform: scale(1.2);
        transition: all 0.3s ease;
    }

.nav-signed {
    border: var(--orange) 2px solid;
    padding: 2.5px 12.5px;
    border-radius: 5px;
    transition: all 0.1s ease;
}

    .nav-signed:hover {
        background-color: var(--brown);
        border: var(--orange) 2px solid;
    }

.singed-style {
    text-decoration: none;
    color: var(--orange);
    transition: color 0.1s;
    /* 添加過渡效果 */
}

    .singed-style:hover {
        color: var(--white);
    }
/* 搜尋框設計 */
.searchInputWrapper {
    position: relative;
}

.searchInput {
    width: 18rem;
    height: 2.5rem;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    transition: transform 0.1s ease-in-out;
}

    .searchInput::placeholder {
        color: #7e5109;
        font-size: 1.25rem;
        opacity: 0.85;
        font-weight: 600;
    }

    .searchInput:focus::placeholder {
        text-indent: -999px;
    }

    .searchInput:focus {
        outline: none;
        transform: scale(1.1);
        transition: all 0.1s ease-in-out;
        transition: transform 0.2s ease;
    }

        .searchInput:focus + .searchInputIcon {
            color: var(--orange);
            transform: translateX(10px);
        }

.searchInputIcon {
    position: absolute;
    right: 0.8rem;
    top: 0.5rem;
    color: var(--deepBlue);
    transition: all 0.1s ease-in-out;
}


/* 通知下拉 */
.notification-wrapper {
    position: relative;
}

button.notification {
    position: relative;
    border-radius: 5px;
    background: none;
    border: none;
}

    button.notification i {
        margin: 0.5rem;
    }

    button.notification span {
        position: absolute;
        user-select: none;
        cursor: default;
        font-size: 1.2rem;
        font-weight: 700;
        background: var(--heart);
        width: 1.8rem;
        height: 1.8rem;
        color: var(--white);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        top: -10px;
        right: 0;
        box-sizing: border-box;
    }

    button.notification:hover span {
        animation-name: scaleCount;
        animation-iteration-count: 1;
        animation-timing-function: all;
        animation-duration: 1s;
        animation-delay: 0s;
    }

@keyframes scaleCount {
    0% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.5);
    }

    80% {
        transform: scale(1.25);
    }
}

.notification-popup {
    display: none;
    cursor: default;
    font-weight: 300;
    color: #000000;
    position: absolute;
    z-index: 999;
    top: 56px;
    right: 50%;
    transform: translateX(1em);
    width: 400px;
    background: white;
    border-radius: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0.5rem 0.5rem 2rem 0 rgba(247, 245, 245, 0.26);
    animation-name: dropPanel;
    animation-iteration-count: 1;
    animation-timing-function: all;
    animation-duration: 0.75s;
}

@keyframes dropPanel {
    0% {
        opacity: 0;
        transform: translateY(-100px) scaleY(0.5);
    }
}

.notification-popup.active {
    display: block;
    overflow: hidden;
}

.notification-popup__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--lightGray);
}

    .notification-popup__header h3 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--black);
        padding-left: 1rem;
        padding-top: 1rem;
    }

    .notification-popup__header button {
        float: right;
        border: none;
        background: none;
    }

        .notification-popup__header button i {
            font-size: 22px;
            font-weight: 700;
            color: var(--blue);
            padding-right: 1rem;
            padding-top: 1rem;
        }

.notification-popup .popup-content {
    padding-left: 3%;
    padding-top: 3%;
    border-bottom: var(--lightGray) solid 2px;
    align-items: center;
}



    .notification-popup .popup-content .fa-newspaper {
        padding-left: 3%;
    }

    .notification-popup .popup-content .notification-message {
        text-align: left;
    }

    .notification-popup .popup-content h4 {
        color: var(--deepBlue);
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
    }

    .notification-popup .popup-content:hover {
        background-color: #416ac22c;
        cursor: pointer;
    }

    .notification-popup .popup-content span {
        font-size: 1.25rem;
        font-weight: 500;
        margin: 0;
    }














body {
    color: #fca311;
}

/* main裡面有card class */
.card-ex {
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    position: relative;
    border-radius: 12px;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

    .card-ex:hover {
        box-shadow: 0px 30px 40px -8px rgba(244, 242, 242, 0.466);
        transform: scale(1.10, 1.10);
    }

.card-img {
    background-image: var(--black);
}

.dora {
    gap: 20px;
    /* align-items: center; */
    padding: 20px;
}


.item {
    display: flex;
    border: 1px solid;
}

.border-success {
    background-color: var(--deepBlue)
}



.profile-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33%;
}

.profile-pic {
    border-radius: 50%;
    max-width: 80%;
    height: auto;
}

.profile-section {
    display: flex;
    justify-content: center;
    /* 使內容居中 */
    align-items: center;
    padding-top: 20px;
}

.A2 {
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 0;
    row-gap: 30px;
    background-color: var(--deepBlue);
}


.A2-lower {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 0;
    width: 100%;
    justify-content: normal;
    height: 250px;
    /* 你可以根據需要調整這個值 */
}


.menu-item {
    border: 4px var(--white);
    border-bottom-style: solid;
    display: block;
    background-color: var(--deepBlue);
    border: 1px solid var(#e5e5e5);
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    transition: background-color 0.3s, transform 0.3s;
    width: 80%;
    margin: 0 auto;
    /* 上下邊距設為0，左右邊距自動，使元素在容器中水平居中 */
    box-sizing: border-box;
    border-radius: 0px;
    /* 或其他你希望的圓角大小 */
}

    .menu-item:hover {
        background-color: #e0e0e0;
        transform: scale(1.05);
    }

    .menu-item:active {
        background-color: #d0d0d0;
        transform: scale(1);
    }

/* 我在這裡搞了一條線，chatGPT用了個偽元素 */

.profile-section {
    /* ... 其他原本的樣式 ... */
    position: relative;
    /* 設置為 relative 以便於定位偽元素 */
}

    .profile-section::after {
        content: "";
        position: absolute;
        bottom: -15px;
        /* 調整位置，使其下移10px */
        left: 10%;
        /* 讓線從左邊25%的位置開始，使其短一些 */
        right: 10%;
        /* 讓線在右邊25%的位置結束 */
        height: 1px;
        background-color: #ccc;
    }


/* 這邊開始設計B2 */

/* 設計自我介紹 */














/* 回到網頁頂端圖示設計 */
#scroll-to-top {
    position: fixed;
    right: 25px;
    bottom: 25px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    z-index: 10;
}

    /* 防止超連結跑出底線 */
    #scroll-to-top a {
        text-decoration: none;
    }

    #scroll-to-top .homeicon-container {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: solid 3px var(--lightGray);
        background-color: var(--deepBlue);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s;
    }

        #scroll-to-top .homeicon-container:hover {
            transform: scale(1.15);
        }

.hidden {
    display: none;
}

/* 導覽列 */
.header {
    background-color: var(--lightBlue-bg);
}

.navbar {
    margin-left: 10%;
    margin-right: 10%;
    color: var(--white);
    font-size: 1.75rem;
    font-weight: bolder;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-item {
    text-decoration: none;
    color: var(--white);
    margin-right: 1rem;
}

    .navbar-item:hover {
        color: var(--orange);
    }

/* 懸浮方框 */
.dropdown-content {
    margin-top: 1rem;
    display: none;
    position: absolute;
    padding: 10px;
    z-index: 999;
    padding: 1rem;
}

    .dropdown-content .row {
        gap: 1rem;
    }


/* 圖片位址 */
.dropdown-img-1::before {
    background-image: url('https://picsum.photos/240/80?random=1');
}

.dropdown-img-2::before {
    background-image: url('https://picsum.photos/240/80?random=2');
}

.dropdown-img-3::before {
    background-image: url('https://picsum.photos/240/80?random=3');
}

.dropdown-img-4::before {
    background-image: url('https://picsum.photos/240/80?random=4');
}

.dropdown-img-5::before {
    background-image: url('https://picsum.photos/240/80?random=5');
}


.dropdown-img-1,
.dropdown-img-2,
.dropdown-img-3,
.dropdown-img-4,
.dropdown-img-5 {
    position: relative;
    overflow: hidden;
    transition: opacity 0.3s;
}

    .dropdown-img-1::before,
    .dropdown-img-2::before,
    .dropdown-img-3::before,
    .dropdown-img-4::before,
    .dropdown-img-5::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: -1;
        transition: all 0.3s;
    }

    .dropdown-img-1:hover::before,
    .dropdown-img-2:hover::before,
    .dropdown-img-3:hover::before,
    .dropdown-img-4:hover::before,
    .dropdown-img-5:hover::before {
        opacity: 0.5;
        transform: scale(1.25);
    }


.dropdown-content .col {
    height: 60px;
    width: 240px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    transition: border .3s ease;
}

    .dropdown-content .col:hover {
        border: var(--lightGray) solid 2.5px;
        box-shadow: 5px 5px 15px 0 rgba(129, 128, 128, 0.66);
    }

.dropdown-content a {
    text-decoration: none;
    color: var(--white);
    font: 700;
}

    .dropdown-content a:hover {
        transform: scale(1.2);
        transition: all 0.3s ease;
    }

.nav-signin {
    border: var(--orange) 2px solid;
    padding: 2.5px 12.5px;
    border-radius: 5px;
    transition: all 0.1s ease;
}

    .nav-signin:hover {
        background-color: var(--brown);
        border: var(--orange) 2px solid;
    }

.singin-style {
    text-decoration: none;
    color: var(--orange);
    transition: color 0.1s;
    /* 添加過渡效果 */
}

    .singin-style:hover {
        color: var(--white);
    }



/* 搜尋框設計 */
.searchInputWrapper {
    position: relative;
}

.searchInput {
    width: 18rem;
    height: 2.5rem;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    transition: transform 0.1s ease-in-out;
}

    .searchInput::placeholder {
        color: #7e5109;
        font-size: 1.25rem;
        opacity: 0.85;
        font-weight: 600;
    }

    .searchInput:focus::placeholder {
        text-indent: -999px
    }

    .searchInput:focus {
        outline: none;
        transform: scale(1.1);
        transition: all 0.1s ease-in-out;
        transition: transform 0.2s ease;
    }

        .searchInput:focus + .searchInputIcon {
            color: var(--orange);
            transform: translateX(10px);
        }

.searchInputIcon {
    position: absolute;
    right: 0.8rem;
    top: 0.5rem;
    color: var(--deepBlue);
    transition: all 0.1s ease-in-out;
}

/* slogan */
.slogan-section {
    display: flex;
    justify-content: center;
    /* 水平置中 */
    align-items: center;
    /* 垂直置中 */
    padding-left: 10%;
    padding-right: 10%;
    height: 80vh;
    margin-top: 80px;
    background-image: url("https://picsum.photos/1720/499");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

    /* 創建漸層覆蓋層 */
    .slogan-section::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, transparent 50%, #14213d7c, #14213d);
        z-index: 1;
    }


.slogan-text h2 {
    font-size: 5rem;
    font-weight: 900;
    text-shadow: 4px 4px 5px rgb(81, 93, 104);
}

.slogan-text .slogan-lower-text {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

/* 網站介紹 */
.intro-title {
    margin-top: 4%;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.intro-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 70vh;
    transition: 0.25s;
}

    .intro-div .options {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        overflow: hidden;
        min-width: 600px;
        max-width: 1200px;
        width: calc(100% - 100px);
        height: 400px;
    }

@media screen and (max-width: 718px) {
    .intro-div .options {
        min-width: 520px;
    }

        .intro-div .options .option:nth-child(5) {
            display: none;
        }
}

@media screen and (max-width: 638px) {
    .intro-div .options {
        min-width: 440px;
    }

        .intro-div .options .option:nth-child(4) {
            display: none;
        }
}

@media screen and (max-width: 558px) {
    .intro-div .options {
        min-width: 360px;
    }

        .intro-div .options .option:nth-child(3) {
            display: none;
        }
}

@media screen and (max-width: 478px) {
    .intro-div .options {
        min-width: 280px;
    }

        .intro-div .options .option:nth-child(2) {
            display: none;
        }
}

.intro-div .options .option {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

    .intro-div .options .option:nth-child(1) {
        --defaultBackground: #AC92EC;
    }

    .intro-div .options .option:nth-child(2) {
        --defaultBackground: #FC6E51;
    }

    .intro-div .options .option:nth-child(3) {
        --defaultBackground: #FFCE54;
    }

    .intro-div .options .option:nth-child(4) {
        --defaultBackground: #2ECC71;
    }

    .intro-div .options .option:nth-child(5) {
        --defaultBackground: #5D9CEC;
    }

    .intro-div .options .option:nth-child(6) {
        --defaultBackground: #a92895;
    }

    .intro-div .options .option.active {
        flex-grow: 10000;
        transform: scale(1);
        margin: 0px;
        border-radius: 40px;
        background-size: auto 100%;
    }

        .intro-div .options .option.active .shadow {
            box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
        }

        .intro-div .options .option.active .label {
            bottom: 12px;
            left: 12px;
        }

            .intro-div .options .option.active .label .info > div {
                left: 0px;
                opacity: 1;
            }

    .intro-div .options .option:not(.active) {
        flex-grow: 1;
        border-radius: 30px;
    }

        .intro-div .options .option:not(.active) .shadow {
            bottom: -40px;
            box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
        }

        .intro-div .options .option:not(.active) .label {
            bottom: 2px;
            left: 5px;
        }

            .intro-div .options .option:not(.active) .label .info > div {
                left: 20px;
                opacity: 0;
            }

    .intro-div .options .option .shadow {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 120px;
        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    }

    .intro-div .options .option .label {
        display: flex;
        position: absolute;
        right: 0px;
        height: 50px;
        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    }

        .intro-div .options .option .label .icon {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            min-width: 50px;
            max-width: 50px;
            height: 40px;
            border-radius: 100%;
            background-color: white;
            color: var(--defaultBackground);
        }

        .intro-div .options .option .label .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 15px;
            margin-bottom: 50px;
            color: var(--white);
            text-shadow: 3px 3px 4px var(--black);
        }

            .intro-div .options .option .label .info > div {
                position: relative;
                transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
            }

            .intro-div .options .option .label .info .main {
                font-weight: bold;
                font-size: 2.5rem;
            }

            .intro-div .options .option .label .info .sub {
                transition-delay: 0.1s;
                font-size: 2rem;
            }


/* 活動導覽設計 */
.activity-container {
    padding-left: 10%;
    padding-right: 10%;
}

.activity-title {
    margin-bottom: 5%;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.activity-content {
    margin-top: 5%;
}

.activity-small-title {
    font-size: 3rem;
    font-weight: bold;
}

/* cards */

/* 外面多包一個div讓方塊們保持置中 */
.card-div {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    gap: 2.5rem;
}

/* 活動分類標籤 */
.category-box {
    border: var(--lightGray) 1px solid;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--brown);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 5px 12px 5px 5px;
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 1;
}

.card--1 .card__img,
.card--1 .card__img--hover {
    background-image: url('https://picsum.photos/1260/750?random=1');
}

.card--2 .card__img,
.card--2 .card__img--hover {
    background-image: url('https://picsum.photos/1260/750?random=2');
}

.card--3 .card__img,
.card--3 .card__img--hover {
    background-image: url('https://picsum.photos/1260/750?random=3');
}

.heart-icon:hover {
    cursor: pointer;
}

.card__clock {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    fill: var(--deepBlue);
    padding-bottom: 3px;
}

.card__time {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--deepBlue);
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
}

.heart-icon.solid {
    opacity: 1;
    visibility: visible;
}


.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}

.card {
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 33.3%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

    .card:hover {
        box-shadow: 0px 30px 40px -8px rgba(244, 242, 242, 0.466);
        transform: scale(1.10, 1.10);
    }

.card__info {
    z-index: 2;
    background-color: var(--white);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.liked-text {
    color: var(--heart);
    font-size: 1.3rem;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    right: 13px;
}

.card__category {
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 600;
    color: var(--black);
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 800;
}

.card__by {
    font-size: 1.5rem;
    font-weight: bold;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: var(--brown);
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
    z-index: 10;
}

/* 你可能喜歡... */
.card--4 .card__img,
.card--4 .card__img--hover {
    background-image: url('https://spaceholder.cc/i/1260x750?random=1');
}

.card--5 .card__img,
.card--5 .card__img--hover {
    background-image: url('https://spaceholder.cc/i/1260x750?');
}

.card--6 .card__img,
.card--6 .card__img--hover {
    background-image: url('https://spaceholder.cc/i/1260x750?random=3');
}


/* 頁底設計 */
footer {
    margin-top: 5%;
}

.custom-btn {
    margin: 1rem;
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

    .custom-btn i {
        font-size: 2rem;
        color: var(--deepBlue);
    }

    .custom-btn:hover i {
        color: var(--brown);
    }


/* 聯絡我們表單 */

/* 背景模糊 */
#contactDialog::backdrop {
    backdrop-filter: blur(10px); /* 設定模糊半徑，調整數值以達到所需的效果 */
    opacity: 1; /* 背景透明度 */
}


#contactDialog {
    border-radius: 10px;
    padding: 15px;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-75%, -50%);
    width: 33%;
    max-height: 80vh;
    background-color: var(--white);
    /* 在這裡設置背景顏色 */
    overflow: hidden;
    /* 移除滾動條 */
}

    /* 調整內容置中 */
    #contactDialog section {
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }

#contactBox {
    width: 100%;
    text-align: center;
}

    #contactBox form {
        text-align: center;
    }

        #contactBox form .input-box {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

            #contactBox form .input-box .input-field {
                position: relative;
                width: 49%;
                margin: 0.3rem 0;
            }

                #contactBox form .input-box .input-field input,
                #contactBox form .textarea-field textarea {
                    width: 100%;
                    padding: 0.4rem;
                    font-size: 1.5rem;
                    font-weight: 700;
                    background: transparent;
                    color: var(--deepBlue);
                    border-radius: 5px;
                    border: var(--deepBlue) 0.1rem solid;
                }

.submitText {
    width: fit-content;
    padding: 2.5px 20.5px;
    font-size: 1.6rem;
    font-weight: bolder;
    color: var(--white);
    border-radius: 15px;
    margin-top: .7rem;
    background-color: var(--deepBlue);
    cursor: pointer;
}

    .submitText:hover {
        border: var(--deepBlue) 2px solid;
        background-color: var(--white);
        color: var(--deepBlue);
    }

#contactDialog .x-div {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: solid 3px var(--deepBlue);
    background-color: var(--lightGray);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all .3s;
}

#closeDialogButton {
    cursor: pointer;
}

#contactDialog .x-div:hover {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {

    0%, 100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-1.5px);
    }

    50% {
        transform: translateX(1.5px);
    }

    75% {
        transform: translateX(-1.5px);
    }
}

#contactBox form .input-box .input-field input::placeholder,
#contactBox form .textarea-field textarea::placeholder {
    color: gray;
    font-size: 1.5rem;
}

#contactBox form .textarea-field textarea {
    resize: none;
}