@{
    // 首頁不顯示麵包屑
    var hideBreadcrumb = Context.Request.RouteValues["action"].ToString().Equals("HomePage", StringComparison.OrdinalIgnoreCase);
}

@* 查找目前使用者 *@
@using Microsoft.AspNetCore.Http


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] JO!N</title>
    <link rel="icon" href="~/IMG/小黃人.png" type="image/png" />
    <script src="https://kit.fontawesome.com/2bfbd4ef35.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>
<body>
    @* 檢查是哪個使用者 *@
    <input type="hidden" id="currentUserId" value="@Context.Session.GetString("UserId")" />

    <div id="scroll-to-top" class="hidden">
        <a href="#top">
            <div class="homeicon-container">
                <i class="fa-solid fa-house fa-xl" style="color: var(--white);"></i>
            </div>
        </a>
    </div>

    <!-- 導覽列設計 -->
    <div class="header">
        <div class="row navbar justify-content-between">
            <div class="col-auto">
                <a class="navbar-item" asp-area="" asp-controller="MyActivity" asp-action="HomePage" id="home">
                    <img src="~/IMG/標誌.png" alt="logo" id="logo" width="200" height="60" />
                </a>

            </div>
            <div class="col-auto">
                <a class="navbar-item" id="explore-link" asp-area="" asp-controller="MyActivity" asp-action="ACT">
                    探索
                    <i id="downicon" class="fa-sharp fa-solid fa-chevron-down"></i>
                </a>
                <div class="dropdown-content" id="explore-dropdown">
                    <div class="row">
                        <div class="col dropdown-img-1">
                            <a href="/MyActivity/ACT?page=0&category=登山">登山</a>
                        </div>
                        <div class="col dropdown-img-2">
                            <a href="/MyActivity/ACT?page=0&category=溯溪">溯溪</a>
                        </div>
                        <div class="col dropdown-img-3">
                            <a href="/MyActivity/ACT?page=0&category=潛水">潛水</a>
                        </div>
                        <div class="col dropdown-img-4">
                            <a href="/MyActivity/ACT?page=0&category=露營">露營</a>
                        </div>
                        <div class="col dropdown-img-5">
                            <a href="/MyActivity/ACT?page=0&category=其他">其他</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-auto">
                <a class="nav-link navbar-item" id="group-link" asp-area="" asp-controller="Groups" asp-action="Create">發起揪團</a>
            </div>
            <div class="col">
                <!-- 填充空間 -->
            </div>
            @* 搜尋框-------------------------------測試中------------------------- *@
            <div class="col-auto">
                <form asp-controller="MyActivity" asp-action="SearchResult">
                    <div class="searchInputWrapper">
                        <input class="searchInput" type="text" name="searchString" placeholder='搜尋...'>
                        <span id="search-icon" class="searchInputIcon">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </form>
            </div>

            @* 判斷使用者是否登入，顯示登入後的首頁內容 *@
            @if (!string.IsNullOrEmpty(Context.Session.GetString("UserId")))
            {
                // 顯示已登入的導覽列
                @await Html.PartialAsync("_LoggedInNavbar")
            }
            else
            {
                // 顯示未登入的導覽列
                <div class="col-auto">
                    <a class="navbar-item" asp-controller="home" asp-action="login">登入</a>
                </div>
                <div class="col-auto nav-signin">
                    <a class="singin-style" asp-controller="Account" asp-action="register">註冊</a>
                </div>
            }


        </div>
    </div>

    @* 判斷URL是否在首頁。如果否，顯示麵包屑 *@
    @if (!hideBreadcrumb)
    {
        <breadcrumb></breadcrumb>
    }
    <main role="main" class="pb-3">
        @RenderBody()
    </main>



    <!-- 頁底設計 -->
    <footer class="text-center text-white" style="background-color: var(--white)">
        <div class="container pt-4">
            <section class="mb-4">
                <span style="color: var(--black); font-size: 1.25rem;font-weight: bold;">
                    聯絡我們<i class="fa-solid fa-caret-right"></i>
                </span>
                <!-- Facebook -->
                <a class="custom-btn" href="#!">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <!-- Twitter -->
                <a class="custom-btn" href="#!">
                    <i class="fab fa-x-twitter"></i>
                </a>

                <!-- Instagram -->
                <a class="custom-btn" href="#!">
                    <i class="fab fa-instagram"></i>
                </a>

                <!-- Github -->
                <a class="custom-btn" href="#!">
                    <i class="fab fa-github"></i>
                </a>
                <!-- Contact Us-->
                <a class="custom-btn contactIcon" id="showContactButton">
                    <i class="fa-solid fa-envelope-open-text contactIcon"></i>
                </a>

                <!-- 表單Dialog -->
                <div class="formOuter-div">
                    <dialog id="contactDialog">
                        <div class="x-div">
                            <i id="closeDialogButton" class="fa-solid fa-xmark fa-lg"></i>
                        </div>

                        <section id="contactBox">
                            <form>
                                <div class="input-box">
                                    <div class="input-field">
                                        <input type="text" name="fullName" id="name" placeholder="使用者暱稱" pattern="^[\u4e00-\u9fa5]{2,4}$"
                                               required>
                                    </div>
                                    <div class="input-field">
                                        <input type="email" name="mail" id="email" placeholder="Email"
                                               pattern="^[a-zA-Z0-9._%+-]+[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>
                                    </div>
                                </div>

                                <div class="input-box">
                                    <div class="input-field">
                                        <input type="tel" name="mobileNumber" id="mobileNumber" placeholder="手機號碼 (格式：10碼)"
                                               pattern="[0-9]{10}" maxlength="10" required title="請輸入10位數字手機號碼(TW)">
                                    </div>
                                    <div class="input-field">
                                        <input type="text" name="emailSubject" id="emailSubjest" placeholder="Email標題" required>
                                    </div>
                                </div>

                                <div class="textarea-field">
                                    <textarea name="wrotetext" id="message" cols="10" rows="10" placeholder="您的訊息...."
                                              required></textarea>
                                </div>

                                <div>
                                    <input type="submit" class="submitText" value="傳送">
                                </div>
                            </form>
                        </section>
                    </dialog>
                </div>
            </section>
        </div>


        <!-- Copyright -->
        <div class="text-center text-dark p-3"
             style="background-color: var(--lightGray); font-size: 1.2rem;font-weight: 600;">
            <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Copyright © 2023 JO!N Inc. | 保留一切權利。</p>
        </div>
    </footer>

    <script src="~/js/Layout.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
