@model MVC_Project.Models.Group

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GroupID" />
            <div class="form-group">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupCategory" class="control-label"></label>
                <input asp-for="GroupCategory" class="form-control" />
                <span asp-validation-for="GroupCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupContent" class="control-label"></label>
                <input asp-for="GroupContent" class="form-control" />
                <span asp-validation-for="GroupContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinAttendee" class="control-label"></label>
                <input asp-for="MinAttendee" class="form-control" />
                <span asp-validation-for="MinAttendee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxAttendee" class="control-label"></label>
                <input asp-for="MaxAttendee" class="form-control" />
                <span asp-validation-for="MaxAttendee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organizer" class="control-label"></label>
                <select asp-for="Organizer" class="form-control" asp-items="ViewBag.Organizer"></select>
                <span asp-validation-for="Organizer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginalActivityID" class="control-label"></label>
                <select asp-for="OriginalActivityID" class="form-control" asp-items="ViewBag.OriginalActivityID"></select>
                <span asp-validation-for="OriginalActivityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}