@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- 簡單的 HTML 表單 -->
<form method="post" action="/Account/ForgotPassword">
    <label for="account">帳號</label>
    <input type="text" id="account" name="account" required>

    <label for="email">電子郵件地址</label>
    <input type="email" id="email" name="email" required>

    <input type="submit" value="提交">
</form>