<!-- css連結，確保在Bootsrap之下 -->
<link rel="stylesheet" href="~/css/MemberUse/login.css" />


@{
	var sweetAlertScript = TempData["SweetAlertScript"] as string;
	if (!string.IsNullOrEmpty(sweetAlertScript))
	{
		@Html.Raw(sweetAlertScript)
	}
}
<body>

	<div class="container-loginandregister">

		<!-- 登入-->
		<div id="container1" class="login">

			<form action="@Url.Action("Login", "Account")" id="login" method="post">


				<div class="headerforwelcome">
					<h1>歡迎!</h1>
					<p>開始揪團，一起探險!</p>
				</div>

				<div>
					<input type="text" name="username" placeholder="帳號" />
					<div class="tab"></div>
					<input type="password" name="password" placeholder="密碼" />

					<button type="submit" class="button">登入</button>
				</div>
			</form>
			<div class="quicklogin">
				<h2> ------ </h2>


				<button id="forgotPasswordBtn" class="button">忘記密碼</button>
				
				<a style="display:inline-block ;text-decoration: none;" class="button" href="/Home/Register">註冊帳號</a>
			</div>

			<!-- 切換 -->


		</div>

		<!-- 註冊 -->


	</div>



</body>
<script>

	$(document).ready(function () {
		// 在 form 提交之前檢查是否有錯誤訊息，如果有，顯示 SweetAlert 彈窗
		var errorMessage = '@Html.Raw(TempData["ErrorMessage"])'; // 使用 Html.Raw 將 Razor 變數轉為 JavaScript 字符串'
		if (errorMessage && errorMessage !== '') {
			Swal.fire({
				icon: 'error',
				title: errorMessage,
				confirmButtonColor: '#3085d6',
				confirmButtonText: '確定'
			});
		}
	});
</script>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		document.getElementById('forgotPasswordBtn').addEventListener('click', () => {
			const form = document.createElement('form');
			form.innerHTML = `
			<div class="input-container">
			<div class="alertaccount">
				<label for="account">帳號：</label>
			<input type="text" id="account" name="account" required>
			</div>
			</br>
			<div class="alertemail">
				<label for="email">信箱：</label>
			<input type="email" id="email" name="email" required>
			</div>
			</div>
				</br>
					`;

			swal({
				title: "忘記密碼",
				content: form,
				buttons: ["取消", "提交"]
			}).then((willSubmit) => {
				if (willSubmit) {
					const account = form.querySelector('#account').value;
					const email = form.querySelector('#email').value;

					// 使用 Ajax 提交這些值
					$.post("/Account/ForgotPassword", { account, email })
						.done(() => {
							swal("成功", "請查看您的電子郵件來重設密碼", "success");
						})
						.fail(() => {
							swal("失敗", "帳號或電子郵件不正確", "error");
						});
				}
			});
		});
	});
</script>
<!-- bar-js -->
<!-- JS連結 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/MemberUse/login.js"></script>
<!-- SweetAlert 2 的 CSS 和 JavaScript -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<!-- 引入 jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


