@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"> <!-- 引入外部CSS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />

    <!-- css連結，確保在Bootsrap之下 -->
    <link rel="stylesheet" href="~/css/Profile.css" />

    <!-- 引入 Bootstrap 的 JavaScript 和相依的 Popper.js 和 jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>



    <!-- navbar -->
    <title>JO!N</title>
    <link rel="icon" href="~/IMG/小黃人.png" type="image/png" />

    <!-- Font Awesome套件引入 -->
    <script src="https://kit.fontawesome.com/2bfbd4ef35.js" crossorigin="anonymous"></script>


    <!-- 引入 Bootstrap 的 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />

    <!-- css連結，確保在Bootsrap之下 -->
    <link rel="stylesheet" href="~/css/Profile.css" />


    <!-- 引入 Bootstrap 的 JavaScript 和相依的 Popper.js 和 jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- moving letter特效引入 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

</head>

<body>
    <!-- 導覽列設計 -->
    <div class="header">
        <div class="row navbar justify-content-between">
            <div class="col-auto">
                <a class="navbar-item" href="#" id="home">
                    <img src="~/IMG/標誌.png" alt="logo" id="logo" width="200" height="60" />
                </a>
            </div>

            <!-- 通知下拉 -->
            <div class="col-auto">
                <div class="row">
                    <div class="col-auto">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item notification-wrapper">
                                <button class="notification">
                                    <i class="fa-solid fa-bell fa-lg" style="color: #ffffff;"></i>
                                    <span class="notification--num">3</span>
                                </button>
                                <div class="notification-popup">
                                    <div class="notification-popup__header">
                                        <h3>通知</h3>
                                        <button><i class="fa-solid fa-check read-all"> 全部已讀</i></button>
                                    </div>
                                    <div class="popup-content row">
                                        <i class="fa-solid fa-circle col-1 notification-dot"
                                            style="color: #0860f7; font-size: 0.3em;"></i>
                                        <i class="fa-regular fa-newspaper col-2"></i>
                                        <div class="notification-message col-9">
                                            <h4>活動開團啦! 請選擇日期</h4>
                                            <span class="notified-date">5小時前</span>
                                        </div>
                                    </div>
                                    <div class="popup-content row">
                                        <i class="fa-solid fa-circle col-1 notification-dot"
                                            style="color: #0860f7; font-size: 0.3em;"></i>
                                        <i class="fa-regular fa-newspaper col-2"></i>
                                        <div class="notification-message col-7">
                                            <h4>A活動有新留言!</h4>
                                            <span class="notified-date">1天前</span>
                                        </div>
                                    </div>
                                    <div class="popup-content row">
                                        <i class="fa-solid fa-circle col-1 notification-dot"
                                            style="color: #0860f7; font-size: 0.3em;"></i>
                                        <i class="fa-regular fa-newspaper col-2"></i>
                                        <div class="notification-message col-7">
                                            <h4>有人回覆了你的留言</h4>
                                            <span class="notified-date">1天前</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-auto">
                        <!-- 會員中心 -->
                        <div class="nav-signed">
                            <a class="singed-style" href="#">會員中心</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- 內容開始 -->
    <div class="container">
        <div class="row"></div>

        <div class="row dora">
            <!-- A區塊 -->
            <div class="col-3">


                <div class="item A2">
                    <!-- A2上半部：大頭貼 -->
                    <div class="profile-section">
                        <img src="~/IMG/godtone.png" alt="大頭貼" class="profile-pic">
                    </div>

                    <!-- A2下半部：列表 -->
                    <div class="A2-lower">
                        <div class="menu-item-container">
                            <a href="#" class="menu-item" data-content="likeit">有興趣的活動</a>
                        </div>
                        <div class="menu-item-container">
                            <a href="#" class="menu-item" data-content="activity">已報名的活動</a>
                        </div>
                        <div class="menu-item-container">
                            <a href="#" class="menu-item" data-content="settings">個人資料</a>
                        </div>
                        <div class="menu-item-container">
                            <a href="#" class="menu-item" data-content="delete">AABBCCDD</a>
                        </div>
                    </div>

                </div>


            </div>

            <!-- B區塊 -->
            <div class="col-7">

                <div class="item">
                    <div class="B2">
                        <div class="B2-content" id="likeit-section">
                            <!-- 自我介紹的HTML結構 -->

                            <!-- Main content START -->


                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-12">

                                    <div class="card-ex">
                                        <div class="card__img"></div>
                                        <a href="#" class="card_link">

                                        </a>
                                        <div class="card__info">
                                            <span class="card__category">登山</span>
                                            <h3 class="card__title">奇萊主北假日團</h3>
                                            <button>刪除</button>
                                            <button>編輯</button>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-3 col-md-6 col-sm-12">

                                    <div class="card-ex">
                                        <div class="card__img"></div>
                                        <a href="#" class="card_link">

                                        </a>
                                        <div class="card__info">
                                            <span class="card__category">登山</span>
                                            <h3 class="card__title">奇萊主北假日團</h3>
                                            <button>刪除</button>
                                            <button>編輯</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-12">

                                    <div class="card-ex">
                                        <div class="card__img"></div>
                                        <a href="#" class="card_link">

                                        </a>
                                        <div class="card__info">
                                            <span class="card__category">登山</span>
                                            <h3 class="card__title">奇萊主北假日團</h3>
                                            <button>刪除</button>
                                            <button>編輯</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-12">

                                    <div class="card-ex">
                                        <div class="card__img"></div>
                                        <a href="#" class="card_link">

                                        </a>
                                        <div class="card__info">
                                            <span class="card__category">登山</span>
                                            <h3 class="card__title">奇萊主北假日團</h3>
                                            <button>刪除</button>
                                            <button>編輯</button>
                                        </div>
                                    </div>

                                </div>

                                <!-- row-row之間間隙 -->
                                <div class="mb-4"></div>

                                <div class="col-lg-3 col-md-6 col-sm-12">

                                    <div class="card-ex">
                                        <div class="card__img"></div>
                                        <a href="#" class="card_link">

                                        </a>
                                        <div class="card__info">
                                            <span class="card__category">登山</span>
                                            <h3 class="card__title">奇萊主北假日團</h3>
                                            <button>刪除</button>
                                            <button>編輯</button>
                                        </div>
                                    </div>

                                </div>
                                <!-- 添加更多的卡片 -->
                            </div>


                        </div>
                        <!-- Main content END -->
                    </div>


                    <!-- 已報名活動 -->
                    <div class="B2-content" id="settings-section" style="display: none;">


                        <div>

                            <!-- Main content START -->
                            <div class="col-lg-12">



                                <div class="vstack gap-4">
                                    <!-- Verified message -->


                                    <!-- Personal info START -->
                                    <div class="card border col-12">
                                        <!-- Card header -->
                                        <div class="card-header border-bottom">
                                            <h4 class="card-header-title">資料設定</h4>
                                        </div>

                                        <!-- Card body START -->
                                        <div class="card-body">
                                            <!-- Form START -->
                                            <form class="row g-3">
                                                <!-- Profile photo -->


                                                <!-- Name -->
                                                <div class="col-md-4">
                                                    <label class="form-label">綽號<span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" value="山道猴子">
                                                </div>

                                                <!-- Email -->
                                                <div class="col-md-4">
                                                    <label class="form-label">電子信箱<span
                                                            class="text-danger">*</span></label>
                                                    <input type="email" class="form-control" value="hello@gmail.com">
                                                </div>



                                                <div class="col-12 text-end">
                                                    <a href="#" class="btn btn-primary mb-0">儲存變更</a>
                                                </div>
                                            </form>
                                            <!-- Form END -->
                                        </div>
                                        <!-- Card body END -->
                                        <!-- Card body START -->
                                        <div class="card-header border-bottom">
                                            <h4 class="card-header-title">更新密碼</h4>


                                        </div>

                                        <form class="card-body col-12">
                                            <!-- Current password -->
                                            <div class="mb-3 col-3">
                                                <label class="form-label">目前密碼</label>
                                                <input class="form-control" type="password">
                                            </div>
                                            <!-- New password -->
                                            <div class="mb-3 col-3">
                                                <label class="form-label"> 輸入新密碼</label>
                                                <div class="input-group">
                                                    <input class="form-control fakepassword" type="password"
                                                        id="psw-input">
                                                </div>
                                            </div>
                                            <!-- Confirm -->
                                            <div class="mb-3 col-3">
                                                <label class="form-label">再次輸入新密碼</label>
                                                <input class="form-control" type="password">
                                            </div>

                                            <div class="col-12 text-end">
                                                <a href="#" class="btn btn-primary mb-0">儲存變更</a>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Card body END -->

                                </div>
                            </div>
                            <!-- Main content END -->

                        </div>
                    </div>

                    <div class="B2-content" id="delete-section" style="display: none;">
                        <!-- 刪除帳號的HTML結構 -->

                        <div>

                            <!-- Personal info START -->
                            <div class="card border">
                                <!-- Card header -->
                                <div class="card-header border-bottom">
                                    <h4 class="card-header-title">自主揪團</h4>

                                </div>

                                <!-- Card body START -->
                                <div class="card-body">
                                    <!-- Form START -->
                                    <div>
                                        內容aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                                        <div class="text-end">
                                            <button>刪除</button>
                                            <button>編輯</button>
                                        </div>
                                    </div>
                                    <!-- Form END -->
                                </div>
                                <!-- Card body END -->
                            </div>
                            <!-- Personal info END -->


                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <footer class="text-center text-white" style="background-color: var(--white)">
        <div class="container pt-4">
            <section class="mb-4">
                <span style="color: var(--black); font-size: 1.25rem;font-weight: bold;">聯絡我們<i
                        class="fa-solid fa-caret-right"></i></span>
                <!-- Facebook -->
                <a class="custom-btn" href="#!">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <!-- Twitter -->
                <a class="custom-btn" href="#!">
                    <i class="fab fa-x-twitter"></i>
                </a>

                <!-- Instagram -->
                <a class="custom-btn" href="#!">
                    <i class="fab fa-instagram"></i>
                </a>

                <!-- Github -->
                <a class="custom-btn" href="#!">
                    <i class="fab fa-github"></i>
                </a>
                <!-- Contact Us-->
                <a class="custom-btn contactIcon" id="showContactButton">
                    <i class="fa-solid fa-envelope-open-text contactIcon"></i>
                </a>

                <!-- 表單Dialog -->
                <div class="formOuter-div">
                    <dialog id="contactDialog">
                        <div class="x-div">
                            <i id="closeDialogButton" class="fa-solid fa-xmark fa-lg"></i>
                        </div>
                        <section id="contactBox">
                            <form>
                                <div class="input-box">
                                    <div class="input-field">
                                        <input type="text" name="fullName" id="name" placeholder="使用者暱稱"
                                            pattern="^[\u4e00-\u9fa5]{2,4}$" required>
                                    </div>
                                    <div class="input-field">
                                        <input type="email" name="mail" id="email" placeholder="Email"
                                            pattern="^[a-zA-Z0-9._%+-]+[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>
                                    </div>
                                </div>

                                <div class="input-box">
                                    <div class="input-field">
                                        <input type="tel" name="mobileNumber" id="mobileNumber"
                                            placeholder="手機號碼 (格式：10碼)" pattern="[0-9]{10}" maxlength="10" required
                                            title="請輸入10位數字手機號碼(TW)">
                                    </div>
                                    <div class="input-field">
                                        <input type="text" name="emailSubject" id="emailSubjest" placeholder="Email標題"
                                            required>
                                    </div>
                                </div>

                                <div class="textarea-field">
                                    <textarea name="wrotetext" id="message" cols="10" rows="10" placeholder="您的訊息...."
                                        required></textarea>
                                </div>

                                <div>
                                    <input type="submit" class="submitText" value="傳送"></input>
                                </div>
                            </form>
                        </section>
                    </dialog>
                </div>
            </section>
        </div>


        <!-- Copyright -->
        <div class="text-center text-dark p-3"
            style="background-color: var(--lightGray); font-size: 1.2rem;font-weight: 600;">
            <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Copyright © 2023 JO!N Inc. | 保留一切權利。
            </p>
        </div>
    </footer>


</body>
<script src="~/js/Profile.js"></script>

</html>